<div class="about-text">
  <p>
    This application has been developed using
    <a href="https://angular.io/">Angular</a> as the framework to create the client and
    <a href="http://www.ontimize.com/">Ontimize EE</a> to provide session and suggested cities service.
  </p>
  <br>
  <p>
    The weather data is obtained from the API of
    <a href="https://openweathermap.org/">OpenWeatherMap</a> in a free subscription limited to 60 queries per minute.
  </p>
  <br>
  <p>
    Every images and icons have been obtained from free sources and this project generates no economical proffits. The purpose
    of this app was training me as a developer during a internship in
    <a href="https://www.imatia.com/">Imatia Innovation</a>.
  </p>
</div>