#tableWA {
    width: 100%;
    background: rgba(219, 219, 219, 0.473);
    
}

body{
  background-size: inherit;
  background-repeat: repeat-y;
}
.app-fab--absolute {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-color: #f81994;
  }
  
  @media(min-width: 1024px) {
     .app-fab--absolute {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }

  .forecast-button{
    align-content: center;
    margin-left: 50%;
    margin-right: 50%;
  }

  p {
    margin-left: 5%;
  }