<p>
 This is the current weather data in {{cityShown.name}}:
</p>
<button (click)="saveCity()" mat-fab>Save city to favourites</button>
<a routerLink="/graph" mat-button>
  <div class="badge">Forecast</div>
</a>
<div  align="center">
<table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="parameter">
                <mat-header-cell *matHeaderCellDef> Parameter </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.parameter}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.value}}  </mat-cell>
              </ng-container>
              
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
</div>
<br>
