#tableWA {
    width: 100%;
    background: rgba(219, 219, 219, 0.473);
    
}

body{
  background-size: inherit;
  background-repeat: repeat-y;
}
.fab-button {
    position: fixed;
    bottom: 4.5rem;
    right: 4.5rem;
  }
  
  

  .forecast-button{
    align-content: center;
    margin-left: 50%;
    margin-right: 50%;
  }

  p {
    margin-left: 5%;
  }