<div align="center" id="initialDiv">
  <div>

    <h2>Look for a city: {{ city | uppercase }}</h2>

    <div>

      <mat-form-field>
        <input (keydown.enter)="search()" [(ngModel)]="city" placeholder="Search city" matInput/>
      </mat-form-field>
      <h1 [ngStyle]="{'display':loading}">Searching...</h1>

    </div>
  </div>


  <button (click)="search()" mat-raised-button>Search with Weather-Angular!</button>
  <button  (click)="good()" mat-raised-button>Log</button>

  <a *ngIf="cityMatch" routerLink="/city/{{cityMatch.id}}/{{cityMatch.name}}" mat-button>
    <span title="Fast Result. id: {{cityMatch.id}}" class="badge">{{cityMatch.name}} ({{cityMatch.sys.country}})</span>
  </a>

  <div *ngIf=admin>
    <br>
    <button *ngIf=!citiesList (click)="getCitiesList()" mat-raised-button>Enable suggestions (may require a 4.2 MB download)</button>
    <button (click)="uploadAll()" mat-raised-button>Fill in the local dataBase</button>
  </div>
  <p [ngStyle]="{'display': wasFound}">The city searched was not found</p>

  <p *ngIf="foundCities">Suggested results: </p>
  <a title="Coords (lat,lon) = ( {{found.coord.lat}} , {{found.coord.lon}} )" *ngFor="let found of foundCities" routerLink="/city/{{found.id}}/{{found.name}}"
    mat-button>
    <div class="badge"> {{found.name}} ({{found.sys.country}}) </div>
  </a>

</div>