<div align="center">
<div>

  <h2>Look for a city: {{ city | uppercase }}</h2>
  
  <div>
    
      <input (keydown.enter) = "search()" [(ngModel)]="city" placeholder="Search city"/>

      <h1 [ngStyle]="{'display':loading}">Searching...</h1>
    
  </div>

</div>


<button (click)="search()" mat-raised-button>Search with Weather-Angular!</button>


<a *ngIf="cityMatch" routerLink="/city/{{cityMatch.id}}/{{cityMatch.name}}" mat-button>
  <span class="badge">{{cityMatch.name}} ({{cityMatch.sys.country}})</span>
</a>

<p [ngStyle]="{'display': wasFound}">The city searched was not found</p>

<p *ngIf="foundCities">Sugerencias: </p>
<a *ngFor="let found of foundCities" routerLink="/city/{{found.id}}/{{found.name}}" mat-button>
  <div class="badge"> {{found.name}} ({{found.sys.country}}) </div>
</a>

</div>