<div id="every">

  <!--Main navigation bar. Always visible-->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Weather Angular</span>
      <a routerLink="/initial" mat-button>Home</a>
      <a mat-button (click)="toggleFavourites()">Favourites</a>

      <span class="example-spacer"></span>

      <div>
        <a *ngIf="logged" mat-button routerLink="/settings">{{profile}}</a>
      </div>

      <div>
        <a *ngIf="!logged" mat-button (click)="toggleSession()">Log in</a>
      </div>

      <span class="example-spacer"></span>

      <mat-icon *ngIf="logged">check_circle</mat-icon>

      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu" x-position="before" y-position="below">

        <div>
          <a *ngIf="!logged" mat-button (click)="toggleSession()" color="primary">Log in</a>
        </div>

        <div>
          <a *ngIf="logged" mat-button routerLink="/settings" color="primary">Settings</a>
        </div>

        <div>
          <a *ngIf="logged" mat-button (click)="toggleSession()" color="warn">Log out</a>
        </div>

        <div>
          <a mat-button routerLink="/about" color="primary">About</a>
        </div>


      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>


  <!--<p [ngStyle]="{'display': emptyList}">There are no cities saved to favourites</p>-->

  <div [ngStyle]="{'visibility': opened? '':'hidden'}">
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <a  color="primary" *ngFor="let savedCity of savedCities" routerLink="/city/{{savedCity.id}}/{{savedCity.name}}" mat-button>
          <div class="badge"> {{savedCity.name}} </div>
        </a>
        <a mat-button *ngIf="!youSureButton" (click)="youSure()" color="warn">Delete all</a>

      </mat-sidenav>

      <mat-sidenav-content>
        <br>
        <br>
        <br>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="delete-option">
      <span align="center">
        <p align="center" *ngIf="youSureButton">This is going to delete all yor favourite cities when you log out. Are you sure? </p>
        <div align="center">
          <a mat-button *ngIf="youSureButton" (click)="deleteCities()" color="warn">Yes</a>
          <a mat-button *ngIf="youSureButton" (click)="notSure()">No</a>
        </div>
      </span>
    </div>
  </div>

</div>