

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Weather Angular</span>
      <span class="example-spacer"></span>
      <a routerLink="/initial" mat-button>Home</a>
      <a mat-button (click)="toggleFavourites()">Favourites</a>
     
      
    </mat-toolbar-row>
  </mat-toolbar>

  <p [ngStyle]="{'display': emptyList}">There are no cities saved to favourites</p>

  <div  [ngStyle]="{'visibility': opened? '':'hidden'}">
  <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <a *ngFor="let savedCity of savedCities" routerLink="/city/{{savedCity.id}}/{{savedCity.name}}" mat-button>
          <div class="badge"> {{savedCity.name}} </div>
        </a>
        <a mat-button (click)="deleteCities()" color="warn">Delete all</a>
      </mat-sidenav>

      <mat-sidenav-content>
          <br>
          <br>
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>